<!-- Sección con dos columnas centradas -->
<section id="twoColumns2" class="text-center">
    <div class="container">
        <div class="row">
            <!-- Columna izquierda con texto de Lorem Ipsum y botón -->
            <div class="col-md-8 position-relative d-flex flex-column justify-content-center align-items-center colIzq1">
                <div>
                    <img  src="../assets/fotos/manos.jpeg" class="img-fluid" alt="Imagen">
                </div>
              
            </div>

            <!-- Columna derecha con imagen y sombra -->
            <div class="col-md-4 position-relative colDer1">
                
                <h2 class="titulo1">CONCEPTO</h2>
                <br>
                <p class="parrafo1">
                    Exploramos la combinación de ideas,
                    estilos, colores o perspectivas divergentes,
                    puede generar una nueva dimensión de
                    significado y valor. A través del contraste,
                    crearemos un espacio donde la tensión
                    creativa de paso a soluciones únicas y
                    experiencias enriquecedoras.                
                </p>
                <br>
            </div>
        </div>
    </div>
</section>
<!-- Fin Sección con dos columnas centradas -->
