<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container"> 
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light" style="font-size: 30px; text-align: center;">
                        Copyright &copy; |  Todos los derechos reservados | <br> Bogotá - Colombia 
                    </p>
                    <div class="text-right">
                        <a href="https://www.facebook.com/tu_pagina" target="_blank" class="text-light mx-2">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="https://www.instagram.com/tu_perfil" target="_blank" class="text-light mx-2">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://wa.me/tu_numero" target="_blank" class="text-light mx-2">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
