<!-- Sección con componente de dos columnas -->
<section id="twoColumnComponent" class="text-center my-5">
    <div class="text-center mt-6 tituloLibro">
        <h2>LIBRO</h2>
        <br>
        <br>
    </div>
    <div class="container">
        <div class="row">
            <!-- Columna izquierda -->
            <div class="col-md-6">
                <img src="./assets/fotos/mono.jpeg" class="img-fluid" alt="Imagen 1">
            </div>
            <!-- Columna derecha -->
            <div class="col-md-6">
                <img src="./assets/fotos/mono.jpeg" class="img-fluid" alt="Imagen 2">
           
            </div>
        </div>
        <!-- Párrafo común para ambas columnas -->
        <div class="row mt-3">
            <div class="col-md-12 parrafoLibro">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</section>
<!-- Fin Sección con componente de dos columnas -->
