<!-- Sección con video -->
<section id="videoSection" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center" style="font-size: 30px;">Video Destacado</h2>
                <!-- Video -->
                <video controls style="width: 100%; height: auto;">
                    <source src="./assets/video/VideoProyecto.mp4" type="videoProyecto.mp4">
                    Tu navegador no soporta el tag de video.
                </video>
            </div>
        </div>
    </div>
</section>
<!-- Fin Sección con video -->
