<section id="youtubeVideoSection" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Video de YouTube con ajuste automático -->
                <div style="position: relative; overflow: hidden; padding-top: 56.25%;">
                    <iframe
                        width="100%"
                        height="100%"
                        style="position: absolute; top: 0; left: 0;"
                        src="https://www.youtube.com/embed/_y1IgmBlLv0"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                    ></iframe>
                </div>
            </div>
        </div>
    </div>
</section>