
#twoColumns2 {
    margin-top: 300px; 
    margin-bottom: 20px;
    
}
.colIzq1{
    padding-right: 50px;
    
}
.manos {
    width: 150%;
    max-width: none; 
    height: auto; 
}

.titulo1{
    font-size: 60px;
}

.parrafo1{
    font-size: 30px;
}


    

