
#twoColumns1 {
    margin-top: 200px; 
    margin-bottom: 20px;
    
}

.colIzq1{
    padding-right: 120px;
}

.titulo1{
    font-size: 60px;
}

.parrafo1{
    font-size: 30px;
}


.btnvermas1{
    border-radius: 0;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 30px;
}

.image-container1::before {
    content: "";
    position: absolute;
    top: -40px;
    right: -20px; 
    bottom: 20px;
    left: 160px;
    background-color: #f0d9da; 
    z-index: -1;
    
}
